@{
    Layout = "/Views/Shared/Layout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Bold text</h4>
      <p> It is a long <span class="font-weight-bold">established fact</span>
        that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
        that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
        that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution</p>
      <button type="button" class="btn btn-inverse-info btn-fw">Info</button>
      <button type="button" class="btn btn-inverse-primary btn-fw">Primary</button>
    </div>
  </div>
</div>
<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Bold text</h4>
      <p class="card-description"> Use class<code>.font-weight-bold</code>
      </p>
      <p> It is a long <span class="font-weight-bold">established fact</span> that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </p>
    </div>
  </div>
</div>
<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Bold text</h4>
      <p class="card-description"> Use class<code>.font-weight-bold</code>
      </p>
      <p> It is a long <span class="font-weight-bold">established fact</span> that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </p>
    </div>
  </div>
</div>