@{
    Layout = "/Views/Shared/Layout.cshtml";
}
@model NLP_WebApp.Models.Dtos.ResultArticle

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">@Model.Header</h4>
      <form class="forms-sample">
        <div class="form-group">
          <p>@Model.Content</p>
        </div>
      </form>
    </div>
  </div>
</div>