@{
    Layout = "/Views/Shared/Layout.cshtml";
}

@model List<NLP_WebApp.Models.Dtos.ResultSuggestion>

@foreach (var article in Model)
{
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@article.Header</h4>
                <p> Kaynak: @article.Source / CS Oranı: @article.CSRate<span class="font-weight-bold">established fact</span>
                    @article.Content</p>
                <button type="button" class="btn btn-inverse-info btn-fw">Detay</button>
                <button type="button" class="btn btn-inverse-primary btn-fw">Ekle</button>
            </div>
        </div>
    </div>
}