@{
    Layout = "/Views/Shared/Layout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">İlgi Alanı Ekleme Formu</h4>
      <form class="forms-sample">
        <div class="form-group">
          <label for="inputInterest">İlgi Alanı</label>
          <input type="text" class="form-control" id="inputInterest">
        </div>
        <button type="submit" class="btn btn-primary mr-2">Ekle</button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Eklenmiş Olan İlgi Alanları</h4>
      <form class="forms-sample">
        <div class="form-group row">
          <i class="mdi mdi-check"></i>
          <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-6">
            <button type="button" class="btn btn-inverse-danger btn-fw">Sil</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>