@{
    Layout = "/Views/Shared/Layout.cshtml";
}

@model List<NLP_WebApp.Models.Dtos.ResultSuggestion>

@foreach (var article in Model)
{
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@article.Header</h4>
                <span class="font-weight-bold"> Kaynak: @article.Source / CS Oranı: @article.CSRate</span>
                <br/>
                <p>
                    @article.Content
                </p>
                <a href="/Article/DetailArticle/@article.ArticleID" class="btn btn-inverse-info btn-fw">Detay</a>
                <a href="/Article/DetailArticle/@article.ArticleID" class="btn btn-inverse-primary btn-fw">Ekle</a>
            </div>
        </div>
    </div>
}